
@-webkit-keyframes blackWhite {  
  0% { background-color: white; }
  50% { background-color: white; }
  51% { background-color: black; }
  100% { background-color: black; }
}

body {
    /*background: linear-gradient(#00008b, #add8e6, #00008b);*/
    /*color: black;*/
    background-image: url("https://stock.adobe.com/images/space-background-with-stars-space-stars-background-space-texture-with-many-stars-for-different-projects/179077796");
    height: 100px;
    background-color: black;
    -webkit-animation-name: blackWhite;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 2s;
    
    font-family: "Open Sans", sans-serif;

    letter-spacing: 2px;

}



.profile-picture {
    display:block;
    margin-left:auto;
    margin-right: auto;

    margin-top: 10%;
    height: auto;
    max-width: 100px;

    border-radius: 50%;
}

.profile-name {
    text-align: center;

    padding: 30px;
    font-size: 40px;

}

.links {
    text-align: center;
    margin-top: 80px;
    border: 1px solid black;
    border-width: 2px;
    padding: 20px;

    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 40px;

    font-size: 18px;
}

a {
    background-color: lightblue;
    text-decoration: none;

    color: black;
    transition: color 1s;
}

a:hover {
    color: black;

    background-color: white;

}